{{ partial "header.html" . }}

<div class="container">
			<div class="row">
					{{ partial "sidebar.html" . }}
				<div class="col-9">
					<h1 class="mt-4 text-center">Latest recipes</h1>
				{{ $paginator := .Paginate (where (where .Site.Pages "Type" "ricetta") "IsPage" true) 3 }}
				{{ range $index, $element := .Paginator.Pages }}
		{{ partial "summary.html" . }}
		{{ end }}		
	</div>
</div>

<div class="container d-flex justify-content-center">
	{{ template "_internal/pagination.html" . }}
</div>


{{ partial "footer.html" . }}
