{{ partial "header.html" . }}

<div class="container w-100">
			<div class="row">
					{{ partial "sidebar.html" . }}
					<div class="col-9">
				{{ $paginator := .Paginate (where (where .Data.Pages "Type" "ricetta") "IsPage" true) 6 }}
				{{ range $index, $element := .Paginator.Pages }}
		{{ partial "summary.html" . }}
		{{ end }}
	</div>
</div>

<div class="container d-flex justify-content-center">
	{{ template "_internal/pagination.html" . }}
</div>


{{ partial "footer.html" . }}
