{{ partial "header.html" . }}
	<div class="container">
		<h1 class="text-center">{{ .Title }}</h1>
		<div class="row">
			<div class="col-md-9">
				<img class="img-fluid mx-auto d-block" src="{{ .Params.image }}" alt="{{ .Title }}">
			</div>
			<div class="col-md-3">
				<div class="d-flex flex-md-column justify-content-around">
					{{ range .Params.difficulty }}
					<p>{{ . }}</p>
					{{ end }}
					{{ range .Params.dieta }}
					<p>{{ . }}</p>
					{{ end }}
					{{ range .Params.time }}
					<p>{{ . }}</p>
					{{ end }}
				</div>
			</div>
		</div>		
			
		<div class="row">
			<div class="col-md-4">
				<ul>
				{{ range .Params.ingredients }}
					<li>{{ . }}</li>
				{{ end }}
				</ul>					
			</div>
			<div class="col-md-8">
					{{ .Content }}
			</div>
		</div>
		<div>
			{{ template "_internal/disqus.html" . }}
		</div>

{{ partial "footer.html" . }}
