{{ partial "header.html" . }}
			<h1 class="text-center">{{ .Title }}</h1>
			<div class="">
				<img class="img-fluid mx-auto" src="{{ .Params.image }}" alt="{{ .Title }}">
			</div>
			<div>
				<ul>
					{{ range .Params.ingredienti }}
					<li>{{ . }}</li>
					{{ end }}
				</ul>
			</div>
			{{ range .Params.livello }}
			<p>{{ . }}</p>
			{{ end }}
			{{ range .Params.dieta }}
			<p>{{ . }}</p>
			{{ end }}
			{{ range .Params.tempo }}
			<p>{{ . }}</p>
			{{ end }}
			<div>
				{{ .Content }}
			</div>


			<div>
				{{ template "_internal/disqus.html" . }}
			</div>

{{ partial "footer.html" . }}
