<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ .Title }}</title>
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="page-container">
				{{ partial "navbar.html" . }}
			<div class="content-wrap">