{{ $pag := $.Paginator }}

<nav class="blog-pagination d-flex justify-content-between">
	{{ if gt $pag.TotalPages 1 }}
			{{ if $pag.HasPrev  }}
			<a href="{{ $pag.Prev.URL }}" class="btn btn-outline-secondary">Previous Page</a>
			{{ else }}
			<a href="#" class="btn btn-outline-secondary disabled">Previous Page</a>
			{{ end }}
			{{ if $pag.HasNext }}
			<a href="{{ $pag.Next.URL }}" rel="next" class="btn btn-outline-secondary">Next Page</a>
			{{ else }}
			<a href="#" rel="next" class="btn btn-outline-secondary disabled">Next Page</a>
			{{ end }}
	{{ end }}
</nav>