		<div class="col-3">
				<h3>Dieta</h3>
				<div class="list-group">
					
					{{ range $name, $taxonomy := .Site.Taxonomies.dieta }}
					<a class="list-group-item list-group-item-action" href="{{ "/dieta/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a>
					{{ end }}
				</div>
				{{ $taxo := "livello" }}
				<h3>Difficoltà</h3>
				<div class="list-group">
					{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
					{{ range .Pages.ByWeight }}
					<a class="list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Title}}</a>
					{{ end }}
					{{ end }}
				</div>
				
				<h3>Tempo</h3>
				<div class="list-group">
					{{ range $name, $taxonomy := .Site.Taxonomies.tempo }}
					<a class="list-group-item list-group-item-action" href="{{ "/tempo/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a>
					{{ end }}
				</div>
		</div>