		<div class="col-3">
				{{ $taxo := "dieta" }}
				<h3>Dieta</h3>
				<div class="list-group">
					{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
					{{ range .Pages.ByTitle }}
					<a class="list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Title}}</a>
					{{ end }}
					{{ end }}
				</div>
				{{ $taxo := "livello" }}
				<h3>Difficoltà</h3>
				<div class="list-group">
					{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
					{{ range .Pages.ByWeight }}
					<a class="list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Title}}</a>
					{{ end }}
					{{ end }}
				</div>				
				{{ $taxo := "tempo" }}
				<h3>Tempo</h3>
				<div class="list-group">
					{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
					{{ range .Pages.ByTitle }}
					<a class="list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Title}}</a>
					{{ end }}
					{{ end }}
				</div>
		</div>