	<div class="card mb-5 border-0">
		<a href="{{ .RelPermalink }}"><img class="card-img-top rounded-0" src="{{ .Params.image }}" alt="{{ .Title }}"></a>
		<div class="card-body border">
			<p class="card-text d-flex justify-content-around">
				{{ range .Params.livello }}
				<span class="text-capitalize">{{ . }}</span>
				{{ end }}
				{{ range .Params.dieta }}
				<span class="text-capitalize">{{ . }}</span>
				{{ end }}
				{{ range .Params.tempo }}
				<span class="text-capitalize">{{ . }}</span>
				{{ end }}
			</p>
			<h4 class="card-title text-center"><a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
		</div>
	</div>